vendor

vendor/*/**

projectInfo

.phpunit.result.cache

# phpunit.xml

.directory

.php-files.json

.ready

phinx.php

migrations-db.php

node_modules

*.code-workspace

.vscode

docker-compose-vm.yml

/.docker-images-before
/.docker-images-after
