{% extends "mail.html.twig" %}

{% block body %}

    <p style="margin: 0 0 10px 0">Please confirm your new email,</p>

    {% set url = frontend_url( uri, {'token': token.value} ) %}

    <p style="margin: 0;">
        click on this link -
        <a style="color: #1a8aee; text-decoration: none;" href="{{ url }}">
            <span style="text-decoration: underline;">{{ url }}</span>
        </a>
        .
    </p>

{% endblock body %}
