.home {
  display: block;
  padding: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0 0 0 / 5%);
}

.home h1 {
  text-align: center;
}

.home p {
  text-align: center;
  margin: 0;
}

.home p:last-child {
  margin-bottom: 0;
}
